body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

/*------------------- header------------------ */

nav {
  background-color: transparent;
  /* background-color: #fff; */

  transition: 0.2s all ease;
  z-index: 1;
  margin-top: 20px;
}

#navContainer {
  transition: 0.3s all ease;
}

.shadow {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

#header > .container,
#header > .container > div {
  padding: 0px 0px;
}

#header button {
  position: absolute;
  right: 0%;
  padding-right: 50pxs;
}

@media only screen and (max-width: 768px) {
  #navContainer {
    margin: 0px 0px;
  }
}

/*------------------- NAVBAR------------------ */

#navbartoggler {
  font-weight: bold;
}

.navbarUl ul {
  margin-left: auto;
}

.navbarUl > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 28px 10px 28px;
}

.navbarUl > ul > li > a {
  color: #222222;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.navbarUl > ul > li > a::before {
  content: "";
  background: #106eea;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0%;
  bottom: -5px;
  visibility: hidden;
  transition: 0.2s all ease;
}

.navbarUl > ul > li > a:hover {
  text-decoration: none;
  color: #106eea;
}

.navbarUl > ul > li > a:hover::before {
  width: 100%;
  visibility: visible;
}

.arrowDown {
  font-size: 15px;
  margin-left: 5px;
  color: #106eea;
}

.arrowDown::before {
  font-weight: 900 !important;
  font-size: 12px;
}

.dropdownUl {
  position: absolute;
  display: block;
  top: calc(100% + 20px);
  padding: 20px 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  text-align: left;
}

.dropdown:hover .dropdownUl {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.dropdownUl > li {
  list-style: none;
  padding: 5px 0px;
}

.dropdownUl > li > a {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  display: block;
}

.arrowRight {
  margin-left: -2px;
  visibility: hidden;
  transition: 0.2s all ease;
}

.dropdownUl > li > a:hover .arrowRight {
  margin-left: 10px;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/* ---------------- NAVBAR DROPDOWN MOBILE ----------------- */
.arrowRightMobile {
  font-size: 15px;
  margin-left: 5px;
  color: #106eea;
}

.arrowRightMobile::before {
  font-weight: 900 !important;
  font-size: 12px;
}

.dropdownUlMobile {
  position: absolute;
  display: block;
  left: 120px;
  top: -20px;
  padding: 20px 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  text-align: left;
}

.dropdownMobile:hover .dropdownUlMobile {
  visibility: visible;
  opacity: 1;
  left: 90px;
  top: -40px;
}

.dropdownUlMobile > li {
  list-style: none;
  padding: 5px 0px;
}

.dropdownUlMobile > li > a {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  display: block;
}

.arrowRight {
  margin-left: -2px;
  visibility: hidden;
  transition: 0.2s all ease;
}

.dropdownUl > li > a:hover .arrowRight {
  margin-left: 10px;
  visibility: visible;
}

/*------------------- Hero ------------------ */
#hero {
  height: 80vh;
  position: relative;
  z-index: -1;
  /* position: relative */
}

.imgContainer {
  opacity: 0;
  transition-duration: 0.6s all ease;
  transition-property: opacity;
}

.imgContainer .active {
  opacity: 1;
}

.imgContainer {
  position: relative;
  text-align: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.imgContainer::before {
  content: "";
  background: rgba(255, 255, 255, 0.404);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.imgContainer > .container {
  position: relative;
  height: 100%;
  justify-content: center;
}

.imgContainer > .container > h3 {
  color: #222222;
}

/* ----------- main -------------- */

/* ----------- steps ------------- */
.steps {
  background-color: #f6f9fe;
  padding: 50px 0px;
  position: relative;
}

.steps .container h3 {
  color: #106eea;
}

.steps .container p {
  font-size: 18px;
  position: relative;
  margin: 0px 50px;
  padding: 15px 0px;
  color: #222222;
}

#main .container p i {
  margin-right: 10px;
}

/* ----------- designs ------------- */
.designs {
  padding: 50px 0px;
  overflow: hidden;
}

.designs > .container > h3 {
  color: #106eea;
}

.designContainer {
  padding: 30px 0px;
}

/* ------------ free ------------- */

.designRow {
  margin: 20px 0px;
}

.designRow .col-lg-3 {
  display: flex;
  align-items: center;
  margin: 0px 15px;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.designRow .col-lg-3 h3 {
  font-size: 15px;
  margin: 0px;
}

.view-card {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.card {
  transition: 0.3s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.1) !important;
}

.btnContainer {
  text-align: center;
  position: absolute;
  padding: 20px 20px;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  margin-top: 50px;
  transition: 0.1s all ease;
  visibility: hidden;
  opacity: 0;
}

.card:hover .btnContainer {
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.btnContainer > a {
  background-color: #cce4ff;
  color: #106eea;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 12px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.btnContainer > a:hover {
  /* background-color: #084696; */
  background-color: #106eea;
  /* color: #cce4ff; */
  color: #ffffff;
}

.viewmore {
  position: relative;
  text-align: center;
  margin: 50px 0px;
}

.viewmore a {
  font-size: 20px;
  text-decoration: none;
  padding: 5px 15px;
  color: #fff;
  background-color: #106eea;
  position: relative;
  transition: 0.1s ease;
}

.viewmore a:hover {
  background-color: #fff;
  color: #106eea;
}

.arrowRightDesign {
  margin-left: -5px;
  visibility: hidden;
  color: #106eea;
  transition: 0.1s all ease;
}

.viewmore a:hover .arrowRightDesign {
  margin-left: 10px;
  visibility: visible;
}

/* -------------- footer ------------------ */
footer {
  background-color: #106eea;
}

footer .container h3 {
  color: #fff;
}

footer .container ul li a {
  color: #fff;
  text-decoration: none;
}

footer > .container {
  padding: 20px 0px;
}

.copyRight {
  background-color: #052e637e;
}

.copyRight > .container {
  text-align: center;
  margin: 0px 0px;
  padding: 10px 0px;
}

.copyRight > .container > a {
  color: #f6f9fe;
}

/*------------================ media query ================------------- */

@media only screen and (max-width: 1200px) {
  .designRow .col-lg-3 {
    width: 250px;
  }
}

@media only screen and (max-width: 1200px) {
  .designRow .col-lg-3 {
    width: 200px;
    height: 150px;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .dropdown {
    display: block;
  }

  .dropdownMobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #navContainer {
    padding: 5px 10px;
  }

  #navbartoggler ul li {
    padding: 10px 0px;
  }

  .dropdown {
    display: none;
  }

  .dropdownMobile {
    display: block;
  }

  .designContainer {
    margin: 0px 0px 0px 0px !important;
  }

  .designRow {
    padding: 0px 30px;
    margin: 0px 0px;
  }

  .designRow .col-lg-3 {
    padding: 50px 30px;
    width: 300px;
    height: 200px;
    margin-top: 20px;
  }

  footer > .container {
    margin: 0px 0px 0px 0px !important;
    padding: 20px 50px;
  }

  .footerContainer {
    padding: 0px 0px !important;
  }

  .footerContainer .container {
    padding: 0px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .viewmore a {
    font-size: 15px;
  }
}
